@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* styles/form.module.css */

.inputWrapper {
  margin-bottom: 20px;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
  color: #333;
}

.toggleGroup {
  display: flex;
  gap: 15px;
}

.toggleButton {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggleButton:hover {
  background-color: #e0f7fa;
  border-color: #00bcd4;
}

.toggleButton.selected {
  background-color: #00bcd4;
  color: white;
  border-color: #00bcd4;
}